/* Home */

.w-100-height {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.carousel-inner::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5) !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.carousel-caption {
  text-align: left;
  margin-bottom: 200px;
  z-index: 2;
}

.carousel-caption h1 {
  font-size: 40px !important;
  text-transform: uppercase;
  white-space: nowrap;
}

/* Companies */

#companies {
  background-color: #212529 !important;
  color: #b5b5b5;
  margin-top: -150px;
}

#companies .row-top {
  margin-top: 25%;
}

#companies .row-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

#companies .logo-image {
  width: 75%;
}

/* Blog */

.card-image img {
  width: 100%;
  height: 250px !important;
  object-fit: cover;
}

@media (max-width: 650px) {
  .carousel-caption h1 {
    font-size: 35px !important;
  }
}
